body {
    font-family: Arial, sans-serif;
    background-image: url("Foto.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: darkgrey;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: darkblue;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid purple;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
}
